<a href="https://colab.research.google.com/github/ratmcu/wiki_ner/blob/master/dataset_splitting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import time
# split a list into evenly sized chunks
!pip install wget
import wget
import logging
import pickle
import ast
import pandas as pd
import numpy as np
import urllib
from bs4 import BeautifulSoup
import tarfile
if not os.path.exists('dataset.tar.gz'):
    wget.download('https://github.com/ratmcu/wiki_ner/blob/master/dataset.tar.gz?raw=true')
tar = tarfile.open('dataset.tar.gz', mode='r')
tar.extractall('./')
tar.close()

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp36-none-any.whl size=9681 sha256=bacf235a66557bab92b688d81dad9e3683c96f136d24bb00e9a9d3dc51f2d2aa
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

lets define the splitting as a prooblem of optimization. 
80/20 split of total number of sentences or classes.

In [0]:
fname = os.walk('./dataset')
ll = sorted([os.path.join(f[0], f[2][0]) for f in fname if len(f[2]) != 0])
df = pd.read_csv(ll[1])
sentence = ''
tags = ''
for row in df.iterrows():
#     if not (row[1]['words'] == '\n' and row[1]['tags'] == '\n'):
#         sentence = sentence + row[1]['words'] + ' '
#         tags = tags + row[1]['tags'] + ' '
#     else:
#         print(sentence)
#         print(tags)
#         sentence = ''
#         tags = ''
    if not (row[1]['words'] == '\n' and row[1]['tags'] == '\n'):
        if row[1]['tags'] != 'O':
            sentence = sentence + row[1]['words'] + ' '
            tags = tags + row[1]['tags'] + ' '
    else:
        if sentence != '':
#             print(sentence)
#             print(tags)
            sentence = ''
            tags = ''

In [0]:
int.from_bytes(os.getrandom(2), "big")

30746

In [0]:
tags = ['BD', 'BP', 'PR', 'SP', 'CH', 'ED']
df_cats =  pd.DataFrame(np.zeros((1,len(tags))), columns=tags)
df_cats.at[0, 'SP'] = df_cats.at[0, 'SP'] + 1
df_cats

    BD   BP   PR   SP   CH   ED
0  0.0  0.0  0.0  1.0  0.0  0.0

In [0]:
fname = os.walk('./dataset')
ll = sorted([os.path.join(f[0], f[2][0]) for f in fname if len(f[2]) != 0])
df = pd.read_csv('./dataset/politicians/Sri Lanka/Mahinda Rajapaksa/conll_tagged.csv')
sentence = ''
tags = ''
tags = ['BD', 'BP', 'PR', 'SP', 'CH', 'ED']
df_cats =  pd.DataFrame(np.zeros((1,len(tags))), columns=tags)
# df_cats.at[0, 'SP'] = df_cats.at[0, 'SP'] + 1
for row in df.iterrows():
    if row[1]['tags'][0] == 'B':
            df_cats.at[0, row[1]['tags'][2:]] = df_cats.at[0, row[1]['tags'][2:]] + 1
df_cats

    BD   BP   PR   SP   CH   ED
0  0.0  0.0  0.0  2.0  9.0  0.0

In [0]:
fname = os.walk('./dataset')
paths = sorted([os.path.join(f[0], f[2][0]) for f in fname if len(f[2]) != 0])
# df = pd.read_csv('./dataset/politicians/Sri Lanka/Mahinda Rajapaksa/conll_tagged.csv')

tags = ['BD', 'BP', 'PR', 'SP', 'CH', 'ED', 'SENT', 'NAME']
annot_summary =  pd.DataFrame()
for path in paths:
df = pd.read_csv(path)
#     df_annots =  pd.DataFrame((np.zeros((1,len(tags)-1), type('sd'))), columns=tags)
df_annots =  pd.DataFrame({'BD': [0], 'BP':[0], 'PR':[0], 'SP':[0], 'CH':[0], 'ED':[0], 'SENT':[0], 'NAME':['ckkkj']})
#     print(df_annots.dtypes)
df_annots.at[0, 'NAME'] = path.split('/')[-2]
for row in df.iterrows():
    if row[1]['words'] == '\n' and row[1]['tags'] == '\n':
        df_annots.at[0, 'SENT'] = df_annots.at[0, 'SENT'] + 1
    if row[1]['tags'][0] == 'B':
            df_annots.at[0, row[1]['tags'][2:]] = df_annots.at[0, row[1]['tags'][2:]] + 1
annot_summary = annot_summary.append(df_annots, ignore_index = True)
annot_summary

     BD   BP  PR  SP   CH  ED  SENT                    NAME
0     0    5   0   0    0   0    38        Alexander Ankvab
1     2    2   0   0    0   0    72           Raul Khajimba
2     2    4   0   0    0   0    44          Sergei Bagapsh
3     0    4   0   0    0   0    47      Vladislav Ardzinba
4     1    5   0   0    0   0     8       Abdul Rahim Hatif
5     0   20   0   4    2   0   102            Ashraf Ghani
6     2    2   0   0    0   0   287           Babrak Karmal
7     1   19   0   0    3   0    57      Burhanuddin Rabani
8     2   51   0   0    3   0   287         Hafizullah Amin
9     0    0   0   0    0   0     8  Haji Mohammad Chamkani
10    2   68   0   1    3   0   291            Hamid Karzai
11    1   37   0   0    0   0   260     Mohammad Najibullah
12    2   17   0   0    0   0   147     Nur Muhammad Taraki
13    1   18   0   0    0   0    39  Sibghatullah Mojaddedi
14    0    0   0   0    0   0    47           Alfred Moisiu
15    1   10   0   0    0   0    34              Bamir Topi
16    2   11   0   1    0   0    28           Bujar Nishani
17    1   26   0   2    0   0    91              Fatos Nano
18    2   21   0   3    5   0    51               Ilir Meta
19    2    8   0   0    0   0    21           Pandeli Majko
20    0    3   0   0    0   0    17          Rexhep Meidani
21    1    1   0   2    0   0    97            Sali Berisha
22    2    4   0   0    0   0   151    Abdelaziz Bouteflika
23    2    0   0   0    0   0    15     Abdelkader Bensalah
24    1    0   0   0    0   0     5   Abdelmalek Benhabyles
25    0    0   0   0    0   0    13                Ali Kafi
26    2    4   0   0    0   0    28        Chadli Bendjedid
27    2    0   0   1    0   0    61       Houari Boumediene
28    1    2   0   0    0   0    16         Liamine Zéroual
29    0    2   0   1    0   0    40         Mohamed Boudiaf
..   ..  ...  ..  ..  ...  ..   ...                     ...
968   2  116   0   5   32   0   585             Hugo Chávez
969   1    8   0   1    0   0    24           Jorge Arreaza
970   3    0   0   1  225   0   291          Nicolás Maduro
971   0   13   0   0    0   2    19          Samuel Moncada
972   2   38   0   0    0   0   114       Tareck El Aissami
973   1    4   1   1    0   0   331             Ho Chi Minh
974   1    3   0   0    0   0   374                 Lê Duẩn
975   1    1   0   0    0   0    12            Lê Khả Phiêu
976   1    3   0   0    0   0    43        Nguyễn Phú Trọng
977   2    1   0   0    0   0    95         Nguyễn Văn Linh
978   1    2   0   0    0   0    33           Nông Đức Mạnh
979   1   10   0   0    0   0   209            Trường Chinh
980   0    2   0   0    0   0   200                 Đỗ Mười
981   1    0   0   0    0   0    79   Abdrabbuh Mansur Hadi
982   1    0   0   0    1   0   153      Ali Abdullah Saleh
983   2    1   0   0    0   0    10           Arthur Benson
984   0    0   0   1    0   1    54             Edgar Lungu
985   1    3   0   0    0   0    13    Evelyn Dennison Hone
986   1    1   0   0    0   0   108       Frederick Chiluba
987   2    3   0   1    0   0    45               Guy Scott
988   0    1   0   0    0   0   216          Kenneth Kaunda
989   1    2   0   2    0   0   116          Levy Mwanawasa
990   2    2   0   3    0   0   115            Michael Sata
991   0    2   0   6    0   0    57            Rupiah Banda
992   2    4   0   2    0   0    88           Canaan Banana
993   2    3   0   7    4   0    57         Clifford Dupont
994   2   10   0   1    0   0   452      Emmerson Mnangagwa
995   1    1   0   0    0   0     8           Henry Everard
996   1    2   0   0    0   0    10      Josiah Zion Gumede
997   2   23   0  16    4   0   721           Robert Mugabe

[998 rows x 8 columns]

In [0]:
annot_summary.to_csv('annotation_summary_pol_names.csv')

In [4]:
import os
import time
# split a list into evenly sized chunks
!pip install wget
import wget
import logging
import pickle
import ast
import pandas as pd
import numpy as np
if not os.path.exists('annotation_summary_pol.csv'):
    wget.download('https://github.com/ratmcu/wiki_ner/blob/master/annotation_summary_pol_names.csv?raw=true')
summary_df = pd.read_csv('annotation_summary_pol_names.csv')
# summary_df
sum=summary_df.sum(axis=0)
sum

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp36-none-any.whl size=9681 sha256=15f676c1f0f572937614efdeb57e654d4baf63e1c675eff5dd62a834a002d32d
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

Unnamed: 0                                               497503
BD                                                          932
BP                                                         8064
PR                                                          535
SP                                                         1587
CH                                                         2452
ED                                                          122
SENT                                                     106095
NAME          Alexander AnkvabRaul KhajimbaSergei BagapshVla...
dtype: object

# Selecting best pages based on the span of the annotations

In [0]:
# summary_df.iloc[0]['BP']
def scorePages(page_summary):
    score_fns = {'BD':lambda a : int(a>0) * 0.5, 
             'BP':lambda a : int(a>0) *  0.1,
             'PR':lambda a : int(a>0) *  1.0, 
             'SP':lambda a : int(a>0) *  1.0,
             'CH':lambda a : int(a>0) *  1.0, 
             'ED': lambda a : int(a>0) *  1.5,
             'SENT': lambda a : (1/a)}
    score_list = []
    for idx, row in enumerate(page_summary.iterrows()):
        frame = row[1]
        score = 0
        for key in frame.keys():
            if key not in score_fns:
                continue
            score += score_fns[key](frame[key])
#         score_df = score_df.append(pd.DataFrame({'index': [idx], 'score':score, 'NAME': name }))
#         score_df = score_df.append(pd.DataFrame({'INDEX': [idx], 'SCORE':score }))    
        score_list.append(score)
    return pd.DataFrame({'SCORE': score_list })

In [57]:
x = lambda a : int(a>0) * 0.5
print(x(5))

0.5

In [0]:
summary_df = pd.read_csv('annotation_summary_pol_names.csv')
summary_df = summary_df.iloc[:,1:]
score_df = scorePages(summary_df)
summary_df = summary_df.assign(SCORE=score_df['SCORE'])

In [15]:
summary_df.sort_values(by='SCORE', ascending = False)

     BD  BP   PR  SP  CH  ED  SENT                         NAME     SCORE
759   2   1    1   2  27   2   365              Éamon de Valera  5.102740
935   2  16    3   5   4   4   561                 Barack Obama  5.101783
699   2   3    1   3  13   1   677              Rodrigo Duterte  5.101477
939   2  12    6   5  28   2   772                 Donald Trump  5.101295
937   2   0    1  24   2   6   514                 Bill Clinton  5.001946
946   2   0    2  16   3   1   572              Harry S. Truman  5.001748
944   2   0    1   8   7  12   591                  Gerald Ford  5.001692
943   2   0    2   7   4   2   638               George W. Bush  5.001567
942   2   0  375   8  80   2   711            George H. W. Bush  5.001406
950   2   0    2   1  24   2   749            Lyndon B. Johnson  5.001335
952   2   0    1  23  12   2   760                Ronald Reagan  5.001316
949   2   0    1   5  53   1   780              John F. Kennedy  5.001282
662   1   1    1   1   0   1    50                 Rauf Denktaş  4.120000
924   2   9    0   3   5   1   131           Saparmurat Niyazov  4.107634
695   1  21    0   8   1   7   183      Gloria Macapagal Arroyo  4.105464
574   2  91    2   5   0   2   341  Andrés Manuel López Obrador  4.102933
137   2   7    0   4  12   1   341               Jair Bolsonaro  4.102933
953   2  39    0   5  43   2   774           Theodore Roosevelt  4.101292
52    1   0    5   2   0   2   320               Mauricio Macri  4.003125
936   2   0    0   5  13   2   386            Benjamin Harrison  4.002591
947   2   0    0   7   9   4   434               Herbert Hoover  4.002304
956   1   0    2  13   0   3   527             William McKinley  4.001898
957   2   0    0  11   7  10   567               Woodrow Wilson  4.001764
948   2   0    0  11  24   2   664                 Jimmy Carter  4.001506
951   2   0    0  13   6   5   692                Richard Nixon  4.001445
954   2   0    0  14   6   1   741            Warren G. Harding  4.001350
631   1   1    1   2   1   0    54        Girija Prasad Koirala  3.618519
753   1   1    4   5   2   0    60    Erskine Hamilton Childers  3.616667
712   1   1    1   1  10   0    83                 Gillis Bildt  3.612048
756   2   2    1   2   2   0   128           Michael D. Higgins  3.607813
..   ..  ..  ...  ..  ..  ..   ...                          ...       ...
166   0   0    0   0   0   0    27        Catherine Samba-Panza  0.037037
460   0   0    0   0   0   0    28             Enrico De Nicola  0.035714
519   0   0    0   0   0   0    31       Wilton G. S. Sankawulo  0.032258
628   0   0    0   0   0   0    33                  René Harris  0.030303
927   0   0    0   0   0   0    34               Andriy Parubiy  0.029412
668   0   0    0   0   0   0    34         Muhammad Rafiq Tarar  0.029412
78    0   0    0   0   0   0    35             Abulfaz Elchibey  0.028571
169   0   0    0   0   0   0    36             Goukouni Oueddei  0.027778
624   0   0    0   0   0   0    37              Freddie Pitcher  0.027027
789   0   0    0   0   0   0    37                 Leopold Figl  0.027027
801   0   0    0   0   0   0    37           France-Albert René  0.027027
72    0   0    0   0   0   0    37                 Leopold Figl  0.027027
346   0   0    0   0   0   0    40            Malam Bacai Sanhá  0.025000
429   0   0    0   0   0   0    40                   Zail Singh  0.025000
612   0   0    0   0   0   0    41             Eduardo Mondlane  0.024390
725   0   0    0   0   0   0    41            Per Albin Hansson  0.024390
213   0   0    0   0   0   0    43              Charles Savarin  0.023256
324   0   0    0   0   0   0    44               Heinrich Lübke  0.022727
14    0   0    0   0   0   0    47                Alfred Moisiu  0.021277
202   0   0    0   0   0   0    57          Tassos Papadopoulos  0.017544
587   0   0    0   0   0   0    65       Manuel González Flores  0.015385
492   0   0    0   0   0   0    66                Rashid Karami  0.015152
799   0   0    0   0   0   0    77                 Velimir Ilić  0.012987
681   0   0    0   0   0   0    79                Fernando Lugo  0.012658
644   0   0    0   0   0   0    84               Mamadou Tandja  0.011905
920   0   0    0   0   0   0    84             Süleyman Demirel  0.011905
66    0   0    0   0   0   0    85           Emperor of Austria  0.011765
783   0   0    0   0   0   0    85           Emperor of Austria  0.011765
627   0   0    0   0   0   0   105               Marcus Stephen  0.009524
589   0   0    0   0   0   0   110         Miguel Alemán Valdés  0.009091

[998 rows x 9 columns]

In [39]:
df = pd.DataFrame({
...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
...     'col2': [2, 1, 9, 8, 7, 4],
...     'col3': [0, 1, 9, 4, 2, 3],
... })

df_col = pd.DataFrame({'col4': [0, 1, 9, 4, 2, 3]})

df = df.assign(col4=df_col['col4'])
df
# df.sort_values(by='col4')
# # df[['col1']]

  col1  col2  col3  col4
0    A     2     0     0
1    A     1     1     1
2    B     9     9     9
3  NaN     8     4     4
4    D     7     2     2
5    C     4     3     3

In [0]:
summary_df.join(scorePages(summary_df))